body {
    margin: 0px;
  }
  #header {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
  #logo {
    width: 5%;
    text-align: right;
  }
  #logo img {
    width: 30%;
    border-radius: 80%;
    padding: 9px;
  }
  #profile img {
    border-radius: 50px;
    width: 50%;
    height: 40px;
    padding-top: 5%;
  }
  #search {
    width: 10%;
    padding: 15px;
  }
  ul {
    padding-left: 15px;
  }
  
  #list li {
    display: inline;
    margin-right: 2%;
  }
  #options {
    width: 75%;
  }
  #profile {
    width: 8%;
  }
  
  
  #main{
  
  
  padding: 3%;
  }
  #innerdiv
  {
     width: 70%;
     line-height: 40px;
     font-size: 30px;
     text-decoration: underline;
     color: #126fdb;
  }
  #profilepic
  {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-right: 20px;
  }
  #headerrepos
  {
    width: 60%;
    margin-left: 35%;
    height: 40px;
    border: solid;
    


  }
  #headerrepos>select
  {
    border-radius: 5px;
    width: 80px;
    height: 30px;
  }